
/*@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');*/

header {
    position: sticky;
    width: 100%;
    top: 0
    /*background: rgba(230, 206, 170, 0.4);*/
}

.homepage {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 11rem;
}

body {
    background-color: rgba(230, 206, 170, .4);
}

a {
    cursor: pointer;
    color: #202020;
    transition: .35s;
    text-decoration: none
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    letter-spacing: .125em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #202020;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.left {
    display: flex;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center
}

.description {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.right {
    text-align: right;
    padding: 10px 10px 20px 20px
}

.right a {
    margin: 0 10px;
    padding: 20px
}

h1 {
    font-size: 58px;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 20px;
}

.logo {
    width: 55px;
    height: 55px;
}

p {
    color: #202020;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    opacity: 0.9;
}

.cat {
    width: 560px;
    height: 461px;
    margin-left: 150px;
}

.homepage h1 {
    width: 540px;
    height: 120px;
}

.homepage p {
    width: 540px;
    height: 120px;
}

.button {
    display: inline-block;
    border-radius: 5px;
    padding: 16px 30px 17px;
    font-size: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
    font-family: "Merriweather",sans-serif;
    font-weight: 400;
}

.volunteer {
    background: #202020;
    color: #fff;
    margin-right: 20px;
}

.donation {
    color: #202020;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    margin: 2rem;
    text-align: center;
}

.imageBox {
    border-radius: 23px;
    height: 16rem;
    width: 16rem;
    background-color: rgba(230, 206, 170, 0.4);
}

h2 {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 20px;
}

.how_to h2 {
    display: flex;
    justify-content: center;
}

.how_to {
    margin-bottom: 8rem;
}

.about {
    display: flex;
    justify-content: space-evenly;
}

.about p {
    width: 644px;
    height: 415px;
}

.dog {
    width: 462px;
    height: 433px;
    margin-top: 1rem;
    margin-right: 3rem;
}

/*.about h2 {*/
/*    margin-bottom: 2rem;*/
/*}*/

footer {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

footer h6 {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: .4;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

footer p {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    text-align: center;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social_networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.social_circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 48px;
}