@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    outline: solid 1px red;
}

body {
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(230, 206, 170, .4);
    width: 100vw;
    height: 100vh;
    margin: 0;
    outline: solid 1px blue;
}

header {
    position: sticky;
    /*width: 100vw;*/
    top: 0;
    /*background: rgba(230, 206, 170, 1);*/
}

.homepage {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 11rem;
    flex-wrap: wrap;
}

a, button {
    cursor: pointer;
    color: #202020;
    transition: .35s;
    text-decoration: none
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    letter-spacing: .125em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #202020;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-rows: 8vh;
    height: 8vh;
    width: 100vw;
    z-index: 3;

    /*top: 0;*/
    /*left: 0;*/
}

.left {
    display: flex;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center
}

.description {
    display: flex;
    flex-direction: column;
    width: 13rem;
    align-items: center;
    justify-content: space-evenly;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 1em 1em 2em 2em
}

.right a {
    margin-left: 4rem;
    /*width: auto;*/
}

a.help {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.right span {
    margin-left: 0.5rem;
}

h1 {
    font-size: 58px;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 20px;
}

.logo {
    width: 5em;
    height: 5em;
}

.paw {
    width: 20px;
    height: 23px;
    rotate: 8grad;
}

p {
    color: #202020;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    opacity: 0.9;
}

.information p {
    font-size: 16px;
    margin-bottom: 1rem;
}

.information {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
    margin-bottom: 20rem;
}

.cat {
    width: 560px;
    height: 461px;
    margin-left: 8rem;
}

.homepage h1 {
    width: 540px;
    height: 120px;
}

.homepage p {
    width: 540px;
    height: 120px;
}

.container {
    margin-bottom: 5rem;
}

.button {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: 16px 30px 17px;
    font-size: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    border: none;
    width: 15rem;
    height: 3.5rem;
}

.volunteer {
    background-color: #202020;
    color: #fff;
    margin-right: 20px;
    padding: 0;
    line-height: 3.5rem;
}

.volunteer:before, .volunteer:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: cornsilk;
    transition: all 0.3s ease;
}

.volunteer span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.volunteer span:before, .volunteer span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: cornsilk;
    transition: all 0.3s ease;
}

.volunteer span:before, .volunteer:before {
    width: 0.1rem;
    height: 0;
}

.volunteer span:after, .volunteer:after {
    height: 0.1rem;
    width: 0;
}

.volunteer span:hover:before, .volunteer:hover:before {
    border-radius: 2rem;
    height: 100%;
}

.volunteer span:hover:after, .volunteer:hover:after {
    border-radius: 2rem;
    width: 100%;
}

.donation {
    background-color: transparent;
    color: #202020;
    padding: 0;
    line-height: 3.5rem;
}

.donation:before, .donation:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.8);
    transition: all 0.4s ease;
}

.donation span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.donation span:before, .donation span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(32, 32, 32, 0.8);
    transition: all 0.4s ease;
}

.donation span:before, .donation:before {
    width: 0.1rem;
    height: 0;
}

.donation span:after, .donation:after {
    height: 0.1rem;
    width: 0;
}

.donation span:hover:before, .donation:hover:before {
    border-radius: 2rem;
    height: 100%;
}

.donation span:hover:after, .donation:hover:after {
    border-radius: 2rem;
    width: 100%;
}

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 1.5em 1.5em -0.4em rgba(32, 32, 32, 0.2);
    transform: translateY(-0.5em);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 4em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 cadetblue;
    }
}

.step {
    margin: 2rem;
    text-align: center;
    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0.15s;
    border-radius: 23px;
    willchange: translate;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1);

    &:hover,
    &:focus {
        border-color: aquamarine;
        color: aquamarine;
    }
}

.stepImageBox {
    border-radius: 23px 23px 0 0;
    height: 16rem;
    width: 16rem;
    background-color: rgba(230, 206, 170, 0.4);
}

h2 {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 20px;
}

.how_to h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.how_to {
    margin-bottom: 8rem;
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

.about p {
    width: 644px;
    height: 415px;
}

.dog {
    width: 462px;
    height: 433px;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sex {
    width: 42px;
    height: 40px;
}

.heart {
    width: 24px;
    height: 24px;
}

.condition {
    width: 26px;
    height: 26px;
}

.petImageBox {
    border-radius: 23px;
    height: 20rem;
    width: 25rem;
    background-color: rgba(230, 206, 170, 0.4);
}

.cats span {
    font-weight: 400;
    font-size: 22px;
    color: #202020;
    line-height: 1.6;
    /*line-height: 5;*/
    opacity: 0.9;
    font-family: "Merriweather", sans-serif;
    width: 25rem;
    text-align: center;
}

.cats span.name {
    margin-top: 1rem;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -.036em;
    /*line-height: 1.1;*/
}

.pet {
    border-radius: 23px;
    margin-right: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(1, 1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.5, 1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.7;
    }
}

svg {
    width: 2rem;
    height: 2rem;
    transition: transform 0.25s;
}

.heart2:not(.favorite) {
    background: transparent;
}

.heart2:not(.favorite) i > svg {
    fill: #DE9D9B;
}

.pet.favorite {
    background: rgba(237, 205, 205, 0.3);
}

/*.pet.favorite i svg {*/
/*    fill: cornsilk;*/
/*}*/

.favoriting svg {
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.heart2 {
    /*width: 3rem;*/
    /*height: 3rem;*/
    min-height: 5vh;
    border: 0;
    outline: 0;
    transition: background 0.5s;
    margin-top: 0.25rem;
    margin-right: -0.5rem;
}

i {
    color: #fff;
    transition: font-size 0.2s;
}

i svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.cats h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*.about h2 {*/
/*    margin-bottom: 2rem;*/
/*}*/

footer {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

footer h6 {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: .4;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

footer p {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.social_networks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 48px;
    margin-right: 0.5rem;
}

.delay-200 {
    transition-delay: .2s
}

.delay-300 {
    transition-delay:.3s
}

.delay-400 {
    transition-delay:.4s
}

.delay-500 {
    transition-delay:.5s
}

.fromLeft {
    transition: all .7s ease;
    opacity: 0;
    transform: translateX(-30px)
}

.fromLeft-animate {
    opacity: 1;
    transform: translateX(0)
}

.text-block {
    transition: all .7s ease;
    opacity: 0;
    transform:translateY(40px);
}

.text-block-animate {
    opacity: 1;
    transform:translateY(0)
}





