@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    overflow: auto;
}

body {
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(230, 206, 170, .4);
    width: 100%;
    margin: auto;
    font-family: "Merriweather", sans-serif;
}

main {
    /*overflow: hidden;*/
    width: 100vw;
    margin-right: 1rem;
    z-index: -10;
}

footer {
    width: 100vw;
}

header {
    position: fixed;
    /*width: 100vw;*/
    top: 0;
    z-index: 999;
    /*background: rgba(230, 206, 170, 1);*/
}

.navbar {
    width: 100%;
}

.containerN {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-container {
    width: 100%;
}

.hamburger-lines, .checkbox {
    display: none;
}

.cat {
    width: 560px;
    height: 461px;
    /*width: 50vw;*/
    /*height: 50vh;*/
    /*margin-left: 8rem;*/
}

.homepage {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 11rem;
    flex-wrap: wrap;
}

a, button {
    cursor: pointer;
    color: #202020;
    transition: .35s;
    text-decoration: none;
    /*margin-bottom: 0.5rem;*/
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    letter-spacing: .125em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #202020;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-rows: 8vh;
    /*height: 8rem;*/
    width: 100vw;
    z-index: 100;

    /*top: 0;*/
    /*left: 0;*/
}

.left {
    display: flex;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center
}

.description {
    display: flex;
    flex-direction: column;
    width: 13rem;
    align-items: center;
    justify-content: space-evenly;
}

.menu-items {
    display: flex;
    align-items: center;
    text-align: right;
    z-index: 100;
    /*padding: 1em 1em 2em 2em;*/
}

.menu-items a {
    /*box-sizing: border-box;*/
    padding: 1em;
    margin-left: 4rem;
    border-radius: 20px;
    /*width: auto;*/
}

.menu-items a:hover {
    background-color: rgba(237, 205, 205, .5);
}

.menu-items>a.active {
    background-color: rgba(237, 205, 205, .8);
}

.menu-items>a.active {
    background-color: rgba(237, 205, 205, .8);
}


a.help {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.menu-items span {
    margin-left: 0.5rem;
}

h1 {
    font-size: 58px;
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.logo {
    width: 4em;
    height: 5em;
}

.paw {
    width: 20px;
    height: 23px;
    rotate: 8grad;
}

p {
    color: #202020;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    opacity: 0.9;
}

.information p {
    font-size: 16px;
    margin-bottom: 1rem;
}

.information {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
    margin-bottom: 20rem;
}

.homepage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.homepage h1 {
    /*width: 540px;*/
    /*height: 120px;*/
    /*width: 40rem;*/
    /*height: 8rem;*/
    width: 40vw;
}

.homepage p {
    /*width: 540px;*/
    /*height: 120px;*/
    /*width: 35rem;*/
    /*height: 7rem;*/
    width: 35vw;
}

.container {
    margin-bottom: 5rem;
    /*width: 38vw;*/
    /*height: 20vh;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buttons {
    /*z-index: -1;*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*@media screen and (max-width: 1065px) {*/
    /*    .homepage h1, .homepage p {*/
    /*        width: 100%;*/
    /*    }*/
    /*    .container {*/
    /*        align-content: center;*/
    /*    }*/
}

.button {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: 16px 30px 17px;
    font-size: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    border: none;
    width: 15rem;
    height: 3.5rem;
}

.volunteer {
    background-color: #202020;
    color: #fff;
    margin-right: 20px;
    padding: 0;
    line-height: 3.5rem;
}

.volunteer:before, .volunteer:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: cornsilk;
    transition: all 0.3s ease;
}

.volunteer span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.volunteer span:before, .volunteer span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: cornsilk;
    transition: all 0.3s ease;
}

.volunteer span:before, .volunteer:before {
    width: 0.1rem;
    height: 0;
}

.volunteer span:after, .volunteer:after {
    height: 0.1rem;
    width: 0;
}

.volunteer span:hover:before, .volunteer:hover:before {
    border-radius: 2rem;
    height: 100%;
}

.volunteer span:hover:after, .volunteer:hover:after {
    border-radius: 2rem;
    width: 100%;
}

.donation {
    background-color: transparent;
    color: #202020;
    padding: 0;
    line-height: 3.5rem;
}

.donation:before, .donation:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.8);
    transition: all 0.4s ease;
}

.donation span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.donation span:before, .donation span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(32, 32, 32, 0.8);
    transition: all 0.4s ease;
}

.donation span:before, .donation:before {
    width: 0.1rem;
    height: 0;
}

.donation span:after, .donation:after {
    height: 0.1rem;
    width: 0;
}

.donation span:hover:before, .donation:hover:before {
    border-radius: 2rem;
    height: 100%;
}

.donation span:hover:after, .donation:hover:after {
    border-radius: 2rem;
    width: 100%;
}

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 1.5em 1.5em -0.4em rgba(32, 32, 32, 0.2);
    transform: translateY(-0.5em);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 4em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 cadetblue;
    }
}

.step {
    margin: 2rem;
    text-align: center;
    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    border-radius: 23px;
    willchange: translate;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1);

    &:hover,
    &:focus {
        border-color: aquamarine;
        color: aquamarine;
    }
}

.stepImageBox {
    border-radius: 23px 23px 0 0;
    height: 16rem;
    width: 16rem;
    background-color: rgba(230, 206, 170, 0.4);
}

h2 {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 2rem;
}

h3 {
    font-size: 28px;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    letter-spacing: -.036em;
    color: #202020;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.how_to h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.how_to {
    margin-bottom: 8rem;
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

.about p {
    /*width: 644px;*/
    /*height: 415px;*/
    width: 45vw;
    /*height: 50vh;*/
}

.dog {
    width: 462px;
    height: 433px;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sex {
    width: 42px;
    height: 40px;
}

.heart {
    width: 24px;
    height: 24px;
}

.condition {
    width: 26px;
    height: 26px;
}

.petImageBox {
    border-radius: 23px;
    height: 18rem;
    width: 23rem;
    background-color: rgba(230, 206, 170, 0.4);
    /*background-color: white;*/
}

.cats span {
    font-weight: 400;
    font-size: 22px;
    color: #202020;
    line-height: 1.6;
    /*line-height: 5;*/
    opacity: 0.9;
    font-family: "Merriweather", sans-serif;
    width: 25rem;
    text-align: center;
}

.cats span.name {
    margin-top: 1rem;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -.036em;
    /*line-height: 1.1;*/
}

.pet {
    /*z-index: -100;*/
    border-radius: 23px;
    margin-right: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(1, 1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.5, 1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.7;
    }
}

svg {
    width: 2rem;
    height: 2rem;
    transition: transform 0.25s;
}

.heart2:not(.favorite) {
    background: transparent;
}

.heart2:not(.favorite) i > svg {
    fill: #DE9D9B;
}

.pet.favorite {
    background: rgba(237, 205, 205, 0.3);
}

/*.about {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.pet.favorite i svg {*/
/*    fill: cornsilk;*/
/*}*/

.favoriting svg {
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.heart2 {
    /*width: 3rem;*/
    /*height: 3rem;*/
    min-height: 5vh;
    border: 0;
    outline: 0;
    transition: background 0.5s;
    padding: 0;
    margin: 0;
}

i {
    color: #fff;
    transition: font-size 0.2s;
}

i svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.cats h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 2rem;
}

footer {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

footer h6 {
    /*z-index: -100;*/
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: .4;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

footer p {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    flex-wrap: wrap;
    /*z-index: -100;*/
    /*align-items: center;*/
}

.social_networks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 48px;
    margin-right: 0.5rem;
}

.delay-200 {
    transition-delay: .2s
}

.delay-300 {
    transition-delay: .3s
}

.delay-400 {
    transition-delay: .4s
}

.delay-500 {
    transition-delay: .5s
}

.fromLeft {
    transition: all .7s ease;
    opacity: 0;
    transform: translateX(-30px)
}

.fromLeft-animate {
    opacity: 1;
    transform: translateX(0)
}

.text-block {
    transition: all .7s ease;
    opacity: 0;
    transform: translateY(40px);
}

.text-block-animate {
    opacity: 1;
    transform: translateY(0)
}



/*.step:nth-child(odd) {*/
/*    background-color: #DE9D9B;*/
/*}*/
/*@media screen and (min-width: 801px) and (max-width: 1100px) {*/

/*}*/

@media screen and (max-width: 955px) {
    .about_us h2, .about_us p {
        text-align: center;
        width: 100%;
    }

    .dog {
        width: 23rem;
        height: 23rem;
        margin-right: 0;
    }

    .about_information p, .about_information h2 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: left;
    }
}

@media screen and (max-width: 1050px) {
    h1, h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .homepage h1, .homepage p {
        width: 90vw;
    }

    .cat {
        width: 23rem;
        height: 23rem;
    }

    .step {
        transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }

    .homepage {
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 1rem;
    }

    nav .menu-items {
        font-family: Merriweather, sans-serif;
        font-size: 20px;
    }

    nav .menu-items, nav .left > .description {
        display: none;
    }

    .containerN {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
        background-color: rgba(230, 206, 170, 1);
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #202020;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #202020;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(120%);
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }

    .logo {
        width: 3.5rem;
        height: 4rem;
    }
}


/* help.html */
.make_donation, .become_volunteer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.make_donation h1, .become_volunteer h1 {
    margin-top: 7rem;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.make_donation p, .become_volunteer p {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.pad.shadow {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    max-width: 480px;
    padding: 1rem;
    border-radius: 5px;
}

label {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    opacity: .5;
}

input {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    padding: 15px 16px 16px;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(230, 206, 170, .01);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    margin: 0 2rem;
}

.full-width {
    margin-top: 2rem;
    width: 100%;
    font-size: 18px;
    margin-bottom: 2rem;
}

.donations {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.donation-box {
    margin: 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    padding: 2rem;
    border-radius: 5px;
}

.user-name {
    font-size: 18px;
    font-weight: 600;

}

.user-text {
    font-size: 20px;
    font-weight: 400;
}


/* about.html */
.about_information {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_information h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.about_information p {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    font-weight: 400;
    max-width: 675px;
}

 /*cats.html */
.cats h2 {
    margin-top: 7rem;
}











